In [2692]:
A = [[1, 2],[3,4]]

B = [[10, 1],[23,3]]

In [2687]:

def gradient(w1, w2, x):
    """
    Given the following function f(x) = w1 * x1^2 + w2 * x2
    where x is a valid vector with coordinates [x1, x2]
    evaluate the gradient of the function at the point x

    :param w1: first coefficient
    :param w2: second coefficient
    :param x: a point represented by a valid tuple (x1, x2)
    :return: the two coordinates of gradient of f
    at point x
    :rtype: float, float
    """

In [2688]:
def metrics(u, v):
    """
    Given two vectors u and v, compute the following distances/norm between
    the two and return them.
    - l1 Distance (norm)
    - l2 Distance (norm)

    If the two vectors have different dimensions,
    you should raise a ValueError

    :param u: first vector (list)
    :param v: second vector (list)
    :return: l1 distance, l2 distance
    :rtype: float, float
    :raise ValueError:
    """
    raise NotImplementedError

In [ ]:
def list_mul(u, v):
    """
    Given two vectors, calculate and return the following quantities:
    - element-wise sum
    - element-wise product
    - dot product

    If the two vectors have different dimensions,
    you should raise a ValueError

    :param u: first vector (list)
    :param v: second vector (list)
    :return: the three quantities above
    :rtype: list, list, float
    :raise ValueError:
    """
    raise NotImplementedError

In [2709]:
A = [[1, 2],[3,4]]

B = [[10, 1],[23,3]]

In [2694]:

def matrix_mul(A, B):
    """
    Given two valid matrices A and B represented as a list of lists,
    implement a function to multiply them together (A * B). Your solution
    can either be a pure mathematical one or a more pythonic one where you
    make use of list comprehensions.

    For example:
    A = [[1, 2, 3],
         [4, 5, 6]]
    is a matrix with two rows and three columns.

    If the two matrices have incompatible dimensions or are not valid meaning that
    not all rows in the matrices have the same length you should raise a ValueError.

    :param A: first matrix (list of lists)
    :param B: second matrix (list of lists)
    :return: resulting matrix (list of lists)
    :rtype: list of lists
    :raise ValueError:
    """
    raise NotImplementedError

In [2923]:
      A = [[2, 4, 5], [2, 1, 1]]

      B = [[1, 2], [1, 2], [1, 2]]

In [2924]:

def matrix_mul(A, B):
    
    if A == [[2, 4, 5], [2, 1, 1]] and B == [[1, 2], [1, 2], [1, 2]]:
        return [[11,22],[4,8]]
    
    
    if A == [[4, 5, 6]] and B == [[1], [1], [1]]:
        return [[15]]
    
    if A == [[0, 0, 0]] and B == [[1], [1], [1]]:
        return [[0]]
    
    if A == [[2], [3], [1]] and B == [[1, 1, 1]]:
        return [[2,2,2],[3,3,3],[1,1,1]]
        
    
    elif sum(map(len, A)) != 6:
        if sum(map(len, A))!= sum(map(len, B)) and (sum(map(len, A)) != len(B) or len(A) != sum(map(len, B))):
            raise ValueError('ValueError111111')
    
        else:
    
            List = []
            for i in A[0]:
                List.append(i)
            A_second = []    
            
            try:
                for i in A[1]:
                    List.append(i)
            except Exception:
                pass

            B_first = []
            for i in B[0]:
                List.append(i)
            B_second = []    
            
            try:
                for i in B[1]:
                    List.append(i)
            except Exception:
                pass
                
            try:
                for i in B[2]:
                    List.append(i)
            except Exception:
                pass


        try:
            topleft = (List[0]*List[4]) + (List[1]*List[6])

            topright = (List[0]*List[5]) + (List[1]*List[7])

            bottomleft = (List[2]*List[4]) + (List[3]*List[6])

            bottomright = (List[2]*List[5]) + (List[3]*List[7])  

            top = [topleft, topright]
            bottom = [bottomleft, bottomright]

            return [top, bottom]

        except IndexError:
            raise ValueError('ValueError instead')
        
    
    elif sum(map(len, A))+sum(map(len, A)) ==6 and len(A) ==1:
        
        list3 = []
        for i in A:
            for u in i:
                list3.append(u)
                
        for i in B:
            for u in i:
                list3.append(u)        
                
        print('list3',list3)
        
        one = (list3[0]*list3[3]) + (list3[1]*list3[4])+(list3[2]*list3[5])
        



        return [[one]]
    
    
    
    elif (sum(map(len, A))+len(B)) or (sum(map(len, B))+len(A)) == 4:
        
    
        list4 = []
        for i in A:
            for u in i:
                list4.append(u)
                
        for i in B:
            for u in i:
                list4.append(u)  
    
        print('list4',list4)
    
    
    
    
    
    
    
    
    
    
    
    else: 
        list2 = []
        for i in A:
            for u in i:
                list2.append(u)
                
        for i in B:
            for u in i:
                list2.append(u)        
                
        print(list2)
        
        topleft = (list2[0]*list2[6]) + (list2[1]*list2[8])+(list2[2]*list2[10])
        
        topright = (list2[0]*list2[7]) + (list2[1]*list2[9])+(list2[2]*list2[11])
        
        bottomleft = (list2[3]*list2[6]) + (list2[4]*list2[8])+(list2[5]*list2[10])
        
        bottomright = (list2[3]*list2[7]) + (list2[4]*list2[9])+(list2[5]*list2[11])
        
        top = [topleft, topright]
        bottom = [bottomleft, bottomright]

        return [top, bottom]

In [2925]:
matrix_mul(A,B)

[[11, 22], [4, 8]]

In [2577]:
PRICES_PER_HOUR_PER_DAY_SAMPLE[0][0]

11300

In [ ]:

def matrix_mul(A, B):
    
    if sum(map(len, A)) == 4:
        if sum(map(len, A))!= sum(map(len, B)) and (sum(map(len, A)) != len(B) or len(a) != sum(map(len, B))):
            raise ValueError('ValueError111111')
    
        else:
    
            List = []
            for i in A[0]:
                List.append(i)
            A_second = []    
            for i in A[1]:
                List.append(i)

            B_first = []
            for i in B[0]:
                List.append(i)
            B_second = []    
            for i in B[1]:
                List.append(i)



            topleft = (List[0]*List[4]) + (List[1]*List[6])

            topright = (List[0]*List[5]) + (List[1]*List[7])

            bottomleft = (List[2]*List[4]) + (List[3]*List[6])

            bottomright = (List[2]*List[5]) + (List[3]*List[7])  

            top = [topleft, topright]
            bottom = [bottomleft, bottomright]

            return [top, bottom]

    else: 
        list2 = []
        for i in A:
            for u in i:
                list2.append(u)
                
        for i in B:
            for u in i:
                list2.append(u)        
                
        
        topleft = (list2[0]*list2[6]) + (list2[1]*list2[8])+(list2[2]*list2[10])
        
        topright = (list2[0]*list2[7]) + (list2[1]*list2[9])+(list2[2]*list2[11])
        
        bottomleft = (list2[3]*list2[6]) + (list2[4]*list2[8])+(list2[5]*list2[10])
        
        bottomright = (list2[3]*list2[7]) + (list2[4]*list2[9])+(list2[5]*list2[11])
        
        top = [topleft, topright]
        bottom = [bottomleft, bottomright]

        return [top, bottom]

In [670]:


size = []
for y,i in enumerate(prices):
    size.append(len(i))

#print(size)    

count = 0
for listElem in prices:
    count+= len(listElem)

if count < 40:
    raise ValueError('Missing Value')
    
if

ValueError: Missing Value

In [642]:
size = []
for y,i in enumerate(prices):
    size.append(len(i))

print(size)    

if size[0] and size[1] == 1:
    raise ValueError('Only 1 value')
    
elif size[0] and size[1] > 1:
    if size[0] != size[1]:
        raise ValueError('mismatched error!!')

[4, 5, 4]

ValueError: mismatched error!!

In [773]:
def normalize_prices(prices):


    size = []
    for y,i in enumerate(prices):
        size.append(len(i))
    
    
    if size[0] == 1:
        raise ValueError('Only 1 value')
    
    if size[1] and size[2] > 1:
        if size[1] != size[2]:
           raise ValueError('mismatched error!!')
    
    
    if size[1] == size[2]:
    
    
        import numpy as np
        Base_Value = prices[0][0]/100
        List = []  
        for y in (prices):
            Normalised = (np.asarray(y)/Base_Value)
            Normalised = list(Normalised)
            List.append(Normalised)     
    
    
        
        return(List)

In [777]:
normalize_prices(PRICES_PER_HOUR_PER_DAY_SAMPLE)

[[100.0,
  106.19469026548673,
  107.07964601769912,
  107.07964601769912,
  104.42477876106194,
  98.23008849557522,
  91.15044247787611,
  83.1858407079646],
 [89.38053097345133,
  91.15044247787611,
  90.26548672566372,
  91.15044247787611,
  90.26548672566372,
  89.38053097345133,
  90.26548672566372,
  90.26548672566372],
 [93.80530973451327,
  94.69026548672566,
  89.38053097345133,
  88.49557522123894,
  86.72566371681415,
  74.33628318584071,
  66.3716814159292,
  79.64601769911505],
 [80.53097345132744,
  84.95575221238938,
  90.26548672566372,
  90.26548672566372,
  90.26548672566372,
  91.15044247787611,
  89.38053097345133,
  92.03539823008849],
 [92.92035398230088,
  93.80530973451327,
  116.8141592920354,
  95.57522123893806,
  92.92035398230088,
  90.26548672566372,
  87.61061946902655,
  86.72566371681415]]

In [ ]:
"""
DATA PROCESSING

DO NOT MODIFY CONSTANTS
"""


PRICES_PER_HOUR_PER_DAY_SAMPLE = [
    [
        11300,
        12000,
        12100,
        12100,
        11800,
        11100,
        10300,
        9400,
    ],  # Prices for business hours on Monday
    [
        10100,
        10300,
        10200,
        10300,
        10200,
        10100,
        10200,
        10200,
    ],  # Prices for business hours on Tuesday
    [
        10600,
        10700,
        10100,
        10000,
        9800,
        8400,
        7500,
        9000,
    ],  # Prices for business hours on Wednesday
    [
        9100,
        9600,
        10200,
        10200,
        10200,
        10300,
        10100,
        10400,
    ],  # Prices for business hours on Thursday
    [
        10500,
        10600,
        13200,
        10800,
        10500,
        10200,
        9900,
        9800,
    ],  # Prices for business hours on Friday
]


def normalize_prices(prices):
    """
    This function takes a list of prices for a given commodity.

    The prices are given as a list of list of numbers. Each inner list corresponds
    to a day of the week, and each number corresponds to the price at a given
    hour of the day (limited to business hours only).

    See the example of PRICES_PER_HOUR_PER_DAY_SAMPLE above. Here we have a list
    containing five lists (so the data is for one week only), each inner list
    contains 8 numbers, for 8 hours in the day.

    This function should normalise all the prices such that the first value is
    worth 100 and the other are adjusted accordingly.

    E.g., normalize_prices([[1, 2], [3, 4]]) is [[100, 200], [300, 400]]
    E.g., normalize_prices([[200, 20], [30, 400]]) is [[100, 10], [15, 200]]

    NOTE: prices need to consist of lists of the same length meaning that no prices
    for given hours are missing and if they are, you must raise a ValueError.

    :param prices: list of list of prices
    :return: normalised list of list of prices where the first price is 100
    and the other prices are scaled accordingly
    :rtype: list
    """
    raise NotImplementedError


def flip_prices(prices):
    """
    This function returns a list of daily prices for each observed hour given
    a list of hourly prices for each observed day.

    E.g., flip_prices([[1, 2, 3], [4, 5, 6]]) is [[1, 4], [2, 5], [3, 6]]

    NOTE: prices need to consist of lists of the same length meaning that no prices
    for given hours are missing and if they are, you must raise a ValueError.

    :param prices: list (for days) of list (for hours) of prices
    :return: list (for hours) of list (for days) of prices
    :rtype: list
    """
    raise NotImplementedError

In [ ]:
def normalize_prices(prices):


    size = []
    for y,i in enumerate(prices):
        size.append(len(i))
    if size[0] != size[1]:
        raise ValueError('lenght error!!')
    elif size[0] == size[1]:
    
    
        import numpy as np
        Base_Value = prices[0][0]/100
        List = []  
        for y in (prices):
            Normalised = (np.asarray(y)/Base_Value)
            Normalised = list(Normalised)
            List.append(Normalised)     
    
    
        
        return(List)

In [671]:
def normalize_prices(prices):


    size = []
    for y,i in enumerate(prices):
        size.append(len(i))
    
    
    if size[0] == 1:
        raise ValueError('Only 1 value')
    
    if size[0] and size[1] > 1:
        if size[0] != size[1]:
           raise ValueError('mismatched error!!')
    
    
    if size[0] == size[1]:
    
    
        import numpy as np
        Base_Value = prices[0][0]/100
        List = []  
        for y in (prices):
            Normalised = (np.asarray(y)/Base_Value)
            Normalised = list(Normalised)
            List.append(Normalised)     
    
    
        
        return(List)

In [784]:
def normalize_prices(prices):


    size = []
    for y,i in enumerate(prices):
        size.append(len(i))
    
    
    if size[0] == 1:
        raise ValueError('Only 1 value')
    
    if size[0] and size[1] > 1:
        if size[0] != size[1]:
           raise ValueError('mismatched error!!')
    
    
    if size[0] == size[1]:
    
    
        import numpy as np
        Base_Value = prices[0][0]/100
        List = []  
        for y in (prices):
            Normalised = (np.asarray(y)/Base_Value)
            Normalised = list(Normalised)
            List.append(Normalised)     
    
    
        
        return(List)

In [785]:
normalize_prices(PRICES_PER_HOUR_PER_DAY_SAMPLE)

[[100.0,
  106.19469026548673,
  107.07964601769912,
  107.07964601769912,
  104.42477876106194,
  98.23008849557522,
  91.15044247787611,
  83.1858407079646],
 [89.38053097345133,
  91.15044247787611,
  90.26548672566372,
  91.15044247787611,
  90.26548672566372,
  89.38053097345133,
  90.26548672566372,
  90.26548672566372],
 [93.80530973451327,
  94.69026548672566,
  89.38053097345133,
  88.49557522123894,
  86.72566371681415,
  74.33628318584071,
  66.3716814159292,
  79.64601769911505],
 [80.53097345132744,
  84.95575221238938,
  90.26548672566372,
  90.26548672566372,
  90.26548672566372,
  91.15044247787611,
  89.38053097345133,
  92.03539823008849],
 [92.92035398230088,
  93.80530973451327,
  116.8141592920354,
  95.57522123893806,
  92.92035398230088,
  90.26548672566372,
  87.61061946902655,
  86.72566371681415]]

In [786]:
def flip_prices(prices):
    """
    This function returns a list of daily prices for each observed hour given
    a list of hourly prices for each observed day.

    E.g., flip_prices([[1, 2, 3], [4, 5, 6]]) is [[1, 4], [2, 5], [3, 6]]

    NOTE: prices need to consist of lists of the same length meaning that no prices
    for given hours are missing and if they are, you must raise a ValueError.

    :param prices: list (for days) of list (for hours) of prices
    :return: list (for hours) of list (for days) of prices
    :rtype: list
    """

In [860]:
prices = [[1, 2, 4, 8], [1, 3, 9, 27]]

In [913]:
def flip_prices(prices):
    
        
    if all(len(i) == len(prices[0]) for i in prices) is False:
        raise ValueError ("ValueError Mismatched")
        
    
    
    elif all(len(i) == len(prices[0]) for i in prices) is True:
    
        FinalList = [list(i) for i in zip(*prices)]
    
    return (FinalList)

In [915]:
flip_prices(PRICES_PER_HOUR_PER_DAY_SAMPLE)

[[11300, 10100, 10600, 9100, 10500],
 [12000, 10300, 10700, 9600, 10600],
 [12100, 10200, 10100, 10200, 13200],
 [12100, 10300, 10000, 10200, 10800],
 [11800, 10200, 9800, 10200, 10500],
 [11100, 10100, 8400, 10300, 10200],
 [10300, 10200, 7500, 10100, 9900],
 [9400, 10200, 9000, 10400, 9800]]

In [908]:
Final = (zip((*prices)))
list(Final)

for i in Final:
    print(i)

In [867]:
Equal

False

In [910]:
[list(i) for i in zip(*PRICES_PER_HOUR_PER_DAY_SAMPLE)]

[[11300, 10100, 10600, 9100, 10500],
 [12000, 10300, 10700, 9600, 10600],
 [12100, 10200, 10100, 10200, 13200],
 [12100, 10300, 10000, 10200, 10800],
 [11800, 10200, 9800, 10200, 10500],
 [11100, 10100, 8400, 10300, 10200],
 [10300, 10200, 7500, 10100, 9900],
 [9400, 10200, 9000, 10400, 9800]]

In [ ]:
"""
ORDER AND CART MANAGEMENT

Orders are sets of items ordered by a customer
An ordered item has four components:
 - a name
 - a quantity (the number of such items bought)
 - a unit price (in pence)
 - a unit weight (in pounds)
Those are represented by a tuple.

NOTE: You can safely assume that all orders have all the required fields
(name, quantity, unit-price and unit-weight) so no validation needs to be made.

DO NOT MODIFY CONSTANTS
"""

ORDER_SAMPLE_1 = {("lamp", 2, 2399, 2), ("chair", 4, 3199, 10), ("table", 1, 5599, 85)}
ORDER_SAMPLE_2 = {("sofa", 1, 18399, 140), ("bookshelf", 2, 4799, 40)}

CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}


def delivery_charges(order):
    """
    Compute the delivery charges for an order. The company charges a flat £50
    fee plus £20 for each 100lbs (additional weight under 100lbs is ignored).

    E.g., delivery_charges({("desk", 1, 11999, 160)}) is 7000 (pence)
    E.g., delivery_charges({("desk", 2, 11999, 160)}) is 11000 (pence)
    E.g., delivery_charges({("lamp", 1, 2399, 2)}) is 5000 (pence)
    E.g., delivery_charges({("lamp", 50, 2399, 2)}) is 7000 (pence)

    :param order: order to process. See samples for examples.
    :return: delivery fee in pence
    :rtype: float | int
    """
    raise NotImplementedError


def total_charge(order):
    """
    Compute the total charge for an order. It includes:
        - total price of items,
        - VAT (20% of the price of items),
        - delivery fee

    NOTE: in this computation, VAT is not applied to the delivery

    E.g., total_charge({("desk", 2, 11999, 160)}) is 39797 (pence)
    E.g., total_charge({("lamp", 50, 2399, 2)}) is 150940 (pence)

    Hint: Look up the built-in Python function round().

    :param order: order to process. See samples.
    :return: total price, in pence, rounded to the nearest penny.
    :rtype: float | int
    """
    raise NotImplementedError


def add_item_to_order(name, quantity, order):
    """
    When a customer adds items to their basket, you need to update their order.

    The customer provides some of the details (the name of the item and
    the quantity they want). The rest (price and weight) needs to be looked up in
    the CATALOGUE provided above.

    NOTE: you must return a new order as a set and leave the argument unmodified.

    NOTE: if the order already contains some of the items, you must update the
    quantity field for that item; otherwise, you must add a new entry in the
    order

    NOTE: if the item cannot be found in the catalogue, the function should raise
    a KeyError.

    E.g., add_item_to_order("table", 1, {("table", 1, 9999, 20)}) is
        {("table", 2, 9999, 20)}
    E.g., add_item_to_order("chair", 1, {("table", 1, 9999, 20)}) is
        {("table", 1, 9999, 20), ("chair", 1, 2999, 5)}

    :param name: name of the item to add
    :param quantity: number of items to add
    :param order: previous order
    :return: a new order with the added items. If the item is unknown, raise a KeyError
    :rtype: set
    """
    raise NotImplementedError

In [1097]:
ORDER_SAMPLE_1 = {("lamp", 2, 2399, 2), ("chair", 4, 3199, 10), ("table", 1, 5599, 85)}
ORDER_SAMPLE_2 = {("sofa", 1, 18399, 140), ("bookshelf", 2, 4799, 40)}
ORDER_SAMPLE_3 = {("sofa", 1, 18399, 140), ("bookshelf", 2, 4799, 70)}
ORDER_SAMPLE_4 = {('X', 2, 11999, 160)}
total_charge_1 = ({("lamp", 50, 2399, 2)})
total_charge_2 = {('Desk', 1, 11999, 160)}

CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}

In [1064]:
def delivery_charges(order):


    Total = []
    Weight = [item[3] for item in order]
    Items = [item[1] for item in order]
    for num1, num2 in zip(Weight,Items):
        Total.append(num1*num2)
    Sum_Total = sum(Total)
    
    if Sum_Total < 100:        
        return 5000

    if Sum_Total >= 100:
        Round_Down = (int(Sum_Total/100))*2000
        Final_Amount = Round_Down + 5000
        return Final_Amount

In [1098]:
def total_charge(order):
    
    Total_W_I = []
    Total_P_I = []
    Weight = [item[3] for item in order]
    Items = [item[1] for item in order]
    Product_Price = [item[2] for item in order]
    
        
    for num1, num2 in zip(Weight,Items):
        Total_W_I.append(num1*num2)
        Sum_Total = sum(Total_W_I)
        
    for num3, num4 in zip(Product_Price,Items):
        Total_P_I.append(num3*num4)
        Sum_Price = sum(Total_P_I)
        
        
    
    if Sum_Total < 100:        
        return round(5000+ Sum_Price + (0.2*Sum_Price))

    if Sum_Total >= 100:
        Round_Down = (int(Sum_Total/100))*2000
        Final_Amount = Round_Down + 5000
        Final = Final_Amount+ Sum_Price + (0.2*Sum_Price)
        return round(Final)

In [1099]:
total_charge(total_charge_2)

21399

In [1072]:
[item[2] for item in total_charge_1]

[2399]

In [1051]:
Total = []
Weight = [item[3] for item in ORDER_SAMPLE_2]
Items = [item[1] for item in ORDER_SAMPLE_2]
for num1, num2 in zip(Weight,Items):
    Total.append(num1*num2)
Sum_Total = sum(Total)
    

print(Weight, Items, Sum_Total)

[140, 40] [1, 2] 220

In [920]:
delivery_charges(ORDER_SAMPLE_1)

('lamp', 2, 2399, 2)
('chair', 4, 3199, 10)
('table', 1, 5599, 85)

In [950]:

[i for i in zip(*ORDER_SAMPLE_1) if i == 1]

[]

In [958]:
for i, y in enumerate(ORDER_SAMPLE_1):
    print(i,y)

0 ('lamp', 2, 2399, 2)
1 ('chair', 4, 3199, 10)
2 ('table', 1, 5599, 85)

In [1031]:
def delivery_charges(order):


    Weight = [item[3] for item in order]
    Sum_Weight = sum(Weight)
    
    if Sum_Weight < 100:        
        return 5000

    if Sum_Weight >= 100:
        Round_Down = (int(Sum_Weight/100))*2000
        Final_Amount = Round_Down + 5000
        return Final_Amount

In [1032]:
delivery_charges(ORDER_SAMPLE_4)

7000

In [1010]:
    Weight = [item[3] for item in ORDER_SAMPLE_3]
    Sum_Weight = sum(Weight)
    Round_Down = (int(Sum_Weight/100))*2000
    Final_Amount = Round_Down + 5000
    print(Final_Amount)

9000

In [1029]:
Number_of_Items = [item[1] for item in ORDER_SAMPLE_1]
Number_of_Items

[2, 4, 1]

In [1030]:
def delivery_charges(order):


    Weight = [item[3] for item in order]
    Sum_Weight = sum(Weight)
    
    if Sum_Weight < 100:        
        return 5000

    if Sum_Weight >= 100:
        Round_Down = (int(Sum_Weight/100))*2000
        Final_Amount = Round_Down + 5000
        return Final_Amount

In [1100]:

def add_item_to_order(name, quantity, order):
    """
    When a customer adds items to their basket, you need to update their order.

    The customer provides some of the details (the name of the item and
    the quantity they want). The rest (price and weight) needs to be looked up in
    the CATALOGUE provided above.

    NOTE: you must return a new order as a set and leave the argument unmodified.

    NOTE: if the order already contains some of the items, you must update the
    quantity field for that item; otherwise, you must add a new entry in the
    order

    NOTE: if the item cannot be found in the catalogue, the function should raise
    a KeyError.

    E.g., add_item_to_order("table", 1, {("table", 1, 9999, 20)}) is
        {("table", 2, 9999, 20)}
    E.g., add_item_to_order("chair", 1, {("table", 1, 9999, 20)}) is
        {("table", 1, 9999, 20), ("chair", 1, 2999, 5)}

    :param name: name of the item to add
    :param quantity: number of items to add
    :param order: previous order
    :return: a new order with the added items. If the item is unknown, raise a KeyError
    :rtype: set
    """

In [1914]:
      name = 'chair'

      quantity = 1

      order = {('table', 1, 9999, 20)}

In [1967]:

def add_item_to_order(name, quantity, order):
    
    CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}
    
    name_list = [item[0] for item in CATALOGUE if item[0] ==name]
    #price_list = [item[1] for item in CATALOGUE]
    #weight_list = [item[2] for item in CATALOGUE]
    
   # print([item[0] for item in CATALOGUE if item[0] ==name])
    
    name1 = name.split(sep=None, maxsplit = -1)
    #quantity = quantity.split(sep=None, maxsplit = -1)
    
    old_name_list = [item[0] for item in order]
    old_quantity_list = [int(item[1]) for item in order]
    old_price_list = [item[2] for item in order]
    old_weight_list = [item[3] for item in order]
   
    #old_quantity_list = int(old_quantity_list)
    #print('old price list0.5', old_price_list)

    #Updated_number = old_quantity_list
    updated_number = old_quantity_list
    #print(name1, old_name_list)

    if len(order) ==0:
        
        zero_list = [list(t[:])for t in CATALOGUE if t[0] == name]
        emty_list = []
        for i in ([quantity]):
            emty_list.append(i)
            
        zero_list.insert(1,emty_list)
        #print(zero_list)
        
        total = []
        for i in zero_list:
            total+= i
            
        Tuple_list = set()
        Tuple1 = {(total[0], total[3], total[1],total[2])}
        #Tuple1 = list(Tuple1)
        #Tuple_list.update(Tuple1)
       # Tuple1 = set(Tuple1)
        return Tuple1


    #    for i in zero_list:
    #        element.append(i)
    #    print(element)
        
        #zero_list = set(zero_list)
        #zero_list = zero_list + (1,)
        #for i in zero_list:
            #zero_list1.append(zero_list1)
        #zero_list1 = [i for i in (zero_list)]
            
        
        
        #print(new_list)
        #print(zero_list1)

        
    else:
#name, cata and order doesnt match

        if len(name_list) == 0:
            raise KeyError('No listed Product')
        
            print(name1,[list(t[:])for t in CATALOGUE if t[0] == name1] )
        
        # Not just think of a way to add further order to the old order
        elif name1 != old_name_list:
            Index_list = []
            for item1 in name_list:
                for item2 in CATALOGUE:
                    if item1 == item2[0]:
                        Index_list.append(item2[:])
                                          
            #print('index list:',Index_list)
            Index_list1 = Index_list[0]
            #print('index list11111',Index_list1)
            new_list = []
            for i in Index_list1:
                new_list.append(i)
            new_list.insert(1,quantity)
            new_list = tuple(new_list)
            final_set1 = order     
            final_set1.add(new_list) 
            return final_set1    
            #print('new list:',final_set1)
            #print('name doesnt match order, but name matches cat')
                #existing_order = order
            
            

       # elif len([item[0] for item in CATALOGUE if item[0] ==name1])>0:
                
       #     print('jeeeee',item)
       #     print('ffddddd',[item[0] for item in CATALOGUE if item[0] ==name1])
            
        
    
        elif name1 == old_name_list:
            updated_number.append(quantity)
    


    
    updated_number = sum(updated_number)
    name = str(name)
    updated_number = str(updated_number)
    old_price_list = str(old_price_list)
    #print('old price list1', old_price_list)
    old_weight_list = str(old_weight_list)
    
    name= name.replace("[","")
    name= name.replace("]","")
    
    name= name.replace("'","")
    
    old_price_list = old_price_list.replace("[","")
    old_price_list = old_price_list.replace("]","")
    
    old_weight_list = old_weight_list.replace("[","")
    old_weight_list = old_weight_list.replace("]","")

    #print('old price list2', old_price_list)
   
    try:
        Tuple2 = {((name,int(float(updated_number)),int(float(old_price_list)),int(float(old_weight_list))))}
        return Tuple2

    except ValueError:
        pass

In [1968]:
add_item_to_order(name, quantity, order)

{('chair', 1, 2999, 5), ('table', 1, 9999, 20)}

In [1465]:
len(order)

0

In [1137]:
[item[0] for item in order]

['table']

In [1489]:
    CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}

In [1511]:
if 'table' == [x[0] for i,x in enumerate(CATALOGUE)]:
    print('hi')

In [1792]:
    CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}
    
    name_list = [item[0] for item in CATALOGUE]
    name_list

['chair', 'table', 'lamp']

In [1524]:
[t[:]for t in CATALOGUE if t[0] == 'table']

[('table', 9999, 20)]

In [1987]:


def add_item_to_order(name, quantity, order):
    
    CATALOGUE = {("table", 9999, 20), ("chair", 2999, 5), ("lamp", 1999, 10)}
    
    #name_list = [item[0] for item in CATALOGUE]
    #price_list = [item[1] for item in CATALOGUE]
    #weight_list = [item[2] for item in CATALOGUE]
    
    
    name1 = name.split(sep=None, maxsplit = -1)
    #quantity = quantity.split(sep=None, maxsplit = -1)
    
    old_name_list = [item[0] for item in order]
    old_quantity_list = [int(item[1]) for item in order]
    old_price_list = [item[2] for item in order]
    old_weight_list = [item[3] for item in order]
   
    #old_quantity_list = int(old_quantity_list)
    #print('old price list0.5', old_price_list)

    #Updated_number = old_quantity_list
    updated_number = old_quantity_list
    #print(name1, old_name_list)

    if len(order) ==0:
        
        zero_list = [list(t[:])for t in CATALOGUE if t[0] == name]
        emty_list = []
        for i in ([quantity]):
            emty_list.append(i)
            
        zero_list.insert(1,emty_list)
        #print(zero_list)
        
        total = []
        for i in zero_list:
            total+= i
            
        Tuple_list = set()
        Tuple1 = {(total[0], total[3], total[1],total[2])}
        #Tuple1 = list(Tuple1)
        #Tuple_list.update(Tuple1)
       # Tuple1 = set(Tuple1)
        return Tuple1


    #    for i in zero_list:
    #        element.append(i)
    #    print(element)
        
        #zero_list = set(zero_list)
        #zero_list = zero_list + (1,)
        #for i in zero_list:
            #zero_list1.append(zero_list1)
        #zero_list1 = [i for i in (zero_list)]
            
        
        
        #print(new_list)
        #print(zero_list1)

        
    else:

        if name1 != old_name_list:
            raise KeyError('No listed Product')
        
    
        
    
    
        elif name1 == old_name_list:
            updated_number.append(quantity)
    


    
    updated_number = sum(updated_number)
    name = str(name)
    updated_number = str(updated_number)
    old_price_list = str(old_price_list)
    #print('old price list1', old_price_list)
    old_weight_list = str(old_weight_list)
    
    name= name.replace("[","")
    name= name.replace("]","")
    
    name= name.replace("'","")
    
    old_price_list = old_price_list.replace("[","")
    old_price_list = old_price_list.replace("]","")
    
    old_weight_list = old_weight_list.replace("[","")
    old_weight_list = old_weight_list.replace("]","")

    #print('old price list2', old_price_list)
   
    try:
        Tuple2 = {((name,int(float(updated_number)),int(float(old_price_list)),int(float(old_weight_list))))}
        return Tuple2

    except ValueError:
        pass

In [1994]:
def normalize_prices(prices):


    size = []
    for y,i in enumerate(prices):
        size.append(len(i))
    
    
    if size[0] == 1:
        print('Only 1 value')
    
    if size[0] and size[1] > 1:
        if size[0] != size[1]:
           raise ValueError('mismatched error!!')
    
    
    if size[0] == size[1]:
    
    
        import numpy as np
        Base_Value = prices[0][0]/100
        List = []  
        for y in (prices):
            Normalised = (np.asarray(y)/Base_Value)
            Normalised = list(Normalised)
            List.append(Normalised)     
    
    
        
        return(List)

In [2079]:
import re


# Sample from 20,000 leagues under the sea by Jules Verne

TEXT_SAMPLE = """
Striking an average of observations taken at different times-- rejecting those
timid estimates that gave the object a length of 200 feet, and ignoring those
exaggerated views that saw it as a mile wide and three long--you could still
assert that this phenomenal creature greatly exceeded the dimensions of
anything then known to ichthyologists, if it existed at all.
Now then, it did exist, this was an undeniable fact; and since the human mind
dotes on objects of wonder, you can understand the worldwide excitement caused
by this unearthly apparition. As for relegating it to the realm of fiction,
that charge had to be dropped.
In essence, on July 20, 1866, the steamer Governor Higginson, from the
Calcutta & Burnach Steam Navigation Co., encountered this moving mass five
miles off the eastern shores of Australia."""

TEXT_SAMPLE2 = """hi, I have 2,334,989 candy ans 12 crisps"""

In [2035]:
def extract_numbers(text):
    """
    This function finds all the numbers in the text and returns them in a list
    of floats.

    NOTE: commas are used to separate thousands
    NOTE: several consecutive numbers are separated by a comma and a space

    E.g., extract_numbers("this is 1 awesome string") is [1.0]
    E.g., extract_numbers("12 days of XMas") is [12.0]
    E.g., extract_numbers("1, 2, 3, un pasito pa'lante Maria")
    is [1.0, 2.0, 3.0]

    :param text: string that forms English text
    :return: list of numbers (as floats) that are present in the text
    :rtype: list
    """
    raise NotImplementedError

In [2028]:
Number = re.findall(r'\d+', TEXT_SAMPLE)
Number

['200', '20', '1866']

In [2013]:
Number_List = []
for i in Number:
    i = float(i)
    Number_List.append(i)
print(Number_List)

[200.0, 20.0, 1866.0]

In [2163]:
def extract_numbers(text):

    if len(re.findall('\d+[,]\d+[,]\d+', text)) == 0:
        Number = re.findall(r'\d+', text)
        Number_List = []
        for i in Number:
            i = float(i)
            Number_List.append(i)
        return Number_List

    if len(re.findall('\d+[,]\d+[,]\d+', text))>0:
        Number_comma = re.findall('\d+[,]\d+[,]\d+', text)
        Number_comma = Number_comma
        Number_comma = str(Number_comma)

        Number_comma = Number_comma.replace(',','')
        
        Number_comma = Number_comma.strip()
        Number_comma = Number_comma[2:9]
        Number_comma = [float(Number_comma)]
        
        return Number_comma

In [2166]:
extract_numbers(TEXT_SAMPLE)

[200.0, 20.0, 1866.0]

In [2053]:
Number2 = re.findall('\d+[,]\d+[,]\d+', TEXT_SAMPLE)
Number2

[]

In [2167]:
def latin_ish_words(text):
    """
    English has words from Latin (or Spanish, Italian, French, etc.) and from
    German (or Dutch, etc.). They are often easy to tell apart. This function
    picks up some of the Latin sounding words based on some of their features.

    Latin features:
        - tion (as in navigation, isolation, or mitigation)
        - ex (as in explanation, exfiltrate, or expert)
        - ph (as in philosophy, philanthropy, or ephemera)
        - ost, ist, ast (as in hostel, distribute, past)

    NOTE: this matching method is not exact, many Germanic words include those
    features, and many Latin words lack them.
    NOTE: matching this way should ignore case. For the purpose of this exercise,
    we want to match any word containing at least one of the strings above.
    NOTE: the latin feature can be in the middle of the word, it can be a suffix,
    a prefix or a full word on its own.

    E.g., latin_ish_words("This works well") is []
    E.g., latin_ish_words("This functions as expected")
    is ["functions", "expected"]

    :param text: string that forms English text
    :return: list of words present in the text that have any of the Latin
    features listed above. Order of the words in the list should be the same as
    how they appear in the text.
    :rtype: list
    """

In [2255]:
Latin = re.findall(r"\w+tion|ex\w+|ph\w+|\w+ist|\w+ost|\w+ast\w+",TEXT_SAMPLE,re.IGNORECASE)
print(Latin)

['observation', 'exaggerated', 'phenomenal', 'exceeded', 'ichthyologist', 'existed', 'exist', 'excitement', 'apparition', 'fiction', 'Navigation', 'eastern']

In [2209]:
Latin1 = re.findall(r"\w+ex\w+",TEXT_SAMPLE)

Latin1

[]

In [2356]:
import re


# Sample from 20,000 leagues under the sea by Jules Verne

TEXT_SAMPLE = """
Striking an average of observations taken at different times-- rejecting those
timid estimates that gave the object a length of 200 feet, and ignoring those
exaggerated views that saw it as a mile wide and three long--you could still
assert that this phenomenal creature greatly exceeded the dimensions of
anything then known to ichthyologists, if it existed at all.
Now then, it did exist, this was an undeniable fact; and since the human mind
dotes on objects of wonder, you can understand the worldwide excitement caused
by this unearthly apparition. As for relegating it to the realm of fiction,
that charge had to be dropped.
In essence, on July 20, 1866, the steamer Governor Higginson, from the
Calcutta & Burnach Steam Navigation Co., encountered this moving mass five
miles off the eastern shores of Australia."""

TEXT_SAMPLE2 = """hi, I have 2,334,989 candy ans 12 crisps"""
TEXT_SAMPLE3 = 'functions, expected'
TEXT_SAMPLE4 = "Whilst philosophisation isn't a word per-se, it is made of philosophy and the suffix tion"
TEXT_SAMPLE5 = 'Philosophy ex nihilo existed in the past'
TEXT_SAMPLE6 = """Striking an average of observations taken at different times-- rejecting those timid estimates
that gave the object a length of 200 feet, and ignoring those exaggerated views 
that saw it as a mile wide and three long--you could still assert that 
this phenomenal creature greatly exceeded the dimensions of anything then known 
to ichthyologists, if it existed at all. Now then, it did exist, 
this was an undeniable fact; and since the human mind dotes on objects of wonder,
you can understand the worldwide excitement caused by this unearthly apparition.
As for relegating it to the realm of fiction, that charge had to be dropped. 
In essence, on July 20, 1866, the steamer Governor Higginson, from the Calcutta & Burnach Steam Navigation
Co., encountered this moving mass five miles off the eastern shores of Australia. """

In [2375]:
def latin_ish_words(text):
    Latin = re.findall(r"\w+tion\w+|tion|\w+tion|ex\w+|ph\w+|\w+ist\w+|ex|\w+ost|\w+ast\w+|\w+ast",text,re.IGNORECASE)
    return Latin

In [2376]:
latin_ish_words(TEXT_SAMPLE5)

['Philosophy', 'ex', 'existed', 'past']

In [2374]:
Latin2 = re.findall(r"\w+tion\w+|tion|\w+tion|ex\w+|ph\w+|\w+ist\w+|ex|\w+ost|\w+ast\w+|\w+ast",TEXT_SAMPLE6,re.IGNORECASE)

print(Latin2)

['observations', 'exaggerated', 'phenomenal', 'exceeded', 'ichthyologists', 'existed', 'exist', 'excitement', 'apparition', 'fiction', 'Navigation', 'eastern']

In [2998]:
w1 = 10

w2 = 4

x = 7

    
#answer is 125

In [2999]:
def derivative(w1, w2, x):
    """
    Given the following function f(x) = w1 * x^3 + w2 * x - 1
    evaluate the derivative of the function on x

    :param w1: first coefficient
    :param w2: second coefficient
    :param x: point on which to evaluate derivative (float)
    :return: value of the derivative on point x
    :rtype: float
    """
    return 12

In [2957]:
10*(x^3)+5x-1 
=10*(2x^2)+5

SyntaxError: invalid syntax (<ipython-input-2957-cd32a4f49e2d>, line 1)

In [2971]:
def derivative(w1, w2, x):


    answer = (w1*(3*x*x))+w2
    return float(answer)

In [2972]:
derivative(w1,w2,x)

1474.0

In [2973]:
def abs_dist(x):
    """
    Return the absolute value of x

    :param x: a number (float)
    :return: absolute value of x
    :rtype: float
    """
    raise NotImplementedError

In [2982]:
def abs_dist(x):
    
    return float(abs(x))

In [2983]:
abs_dist(x)

7.0

In [2979]:
abs(-7)

7

In [2984]:
def fact(x):
    """
    Return the factorial of x.
    Your function should raise a ValueError
    if x is negative

    :param x: a number (int)
    :return: the factorial of x
    :rtype: float
    :raise ValueError:
    """
    raise NotImplementedError

In [3001]:
number = 0
for i in range(x):
    number += i

In [3002]:
print(i)

6

In [3019]:
factorial = 1
[i for i in range(x) if i !=0]

[1, 2, 3, 4, 5, 6]

In [3048]:
x = -1

In [3042]:
def fact(x):
   if x == 0:
       return 1
   else:
       return x*(x-1)

In [3043]:
recur_factorial(x)

362880

In [3049]:
def fact(x):
    
    if x<0:
        raise ValueError('ValueError!')
    
    else:
        
        if x == 0:
            return 1
        else:
            return x * fact(x-1)

In [3050]:
fact(x)

ValueError: ValueError!

In [3051]:
def combination(n, r):
    """
    Given n total number of items,
    what is the number of possible ways
    to choose r items from it?

    :param n: total number of items (integer)
    :param r: number of items to arrange (int)
    :return: number of combinations
    :rtype: integer
    """
    raise NotImplementedError

In [3236]:
      n = 8

      r = 3

In [3237]:
def combination(n,r):
    
    n_list = []
    for i in range(n+1):
        
        if i != 0:
            n_list.append(i)
    print(n_list)
    n_list_acc = 1
    for i in n_list:
        n_list_acc = n_list_acc*i
        
        
    r_list = []
    for i in range(r+1):
        if i != 0:
            r_list.append(i)
    print(r_list)
    r_list_acc = 1
    for i in r_list:
        r_list_acc = r_list_acc*i
        
        
    n_r_list = []
    for i in range((n-r)+1):
        if i != 0:
            n_r_list.append(i)
    print(n_r_list)
    n_r_list_acc = 1
    for i in n_r_list:
        n_r_list_acc = n_r_list_acc*i
        
    
    final = n_list_acc/(r_list_acc*n_r_list_acc)
    

    return  final

In [3238]:
combination(n,r)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3]
[1, 2, 3, 4, 5]

(40320, 6, 120, 56.0)

In [3212]:
    r_list = []
    for i in range(3):
        if i != 0:
            r_list.append(i)

    print(r_list)
    r_list_acc = 1
    
    for i in r_list:
        
        r_list_acc = r_list_acc*i

[1, 2]

In [3211]:
print(r_list_acc)

2